<app-page-header
  [link]="'salles'"
  [prev]="'Salles'"
  [current]="'Ajouter une salles'"
></app-page-header>

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form
          [formGroup]="newSalleFormGroup"
          (ngSubmit)="handleAddDepartement()"
        >
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Informations sur la Salle<span
                  ><a href="javascript:;"
                    ><i class="feather-more-vertical"></i></a
                ></span>
              </h5>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>numéro <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  formControlName="numSalle"
                  type="number"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>capacité <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  formControlName="capacite"
                  type="number"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>type <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  formControlName="typeSalle"
                  type="text"
                />
              </div>
            </div>

            <div
              class="col-12 d-flex align-items-center justify-content-center"
            >
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Confirmer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
