<app-page-header
  [link]="'departements'"
  [prev]="'Départements'"
  [current]="'Home'"
></app-page-header>
<div class="student-group-form">
  <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchDepartments()">
    <!-- Search form -->
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Recherche par libellé ..."
            formControlName="keyword"
          />
        </div>
      </div>

      <div class="col-lg-2">
        <div class="search-student-btn">
          <button type="button" class="btn btn-primary">Chercher</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="page-header">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="page-title">Départements</h3>
            </div>
            <div class="col-auto text-end float-end ms-auto download-grp">
              <a routerLink="/departements/add" class="btn btn-primary">
                <i class="fas fa-plus"></i>
                </a>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
              <span class="m-2">Afficher</span>
              <select class="form-select form-select-sm w-auto">
                <option selected="" value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              <span class="m-2">Entrées</span>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table
            class="table border-0 star-student table-hover table-center mb-0 datatable table-striped"
          >
            <thead class="student-thread">
              <tr>
                <th>
                  <div class="form-check check-tables">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="something"
                    />
                  </div>
                </th>
                <th>ID</th>
                <th>libellé</th>
                <th>chef du département</th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let department of departments">
                <td>
                  <div class="form-check check-tables">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="something"
                    />
                  </div>
                </td>
                <td>{{ department.id }}</td>
                <td>{{ department.libelle }}</td>
                <td>{{ department.chefDepartement }}</td>
                <td class="text-center">
                  <a
                    class="btn btn-sm bg-success-light me-2"
                    (click)="handleEditeDepart(department)"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                  <a
                    (click)="handleDeleteDepartment(department)"
                    class="btn btn-sm bg-danger-light"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Pagination -->
        <ul class="pagination justify-content-end mt-4">
          <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
            <a class="page-link" tabindex="-1" (click)="goToPreviousSet()"
              >Précédent</a
            >
          </li>
          <li
            class="page-item"
            *ngFor="let page of displayedPages"
            [class.selected]="currentPage === page"
          >
            <a class="page-link" (click)="gotoPage(page)">{{ page + 1 }}</a>
          </li>
          <li
            class="page-item"
            [ngClass]="{ disabled: currentPage >= totalPages - 1 }"
          >
            <!-- Add the following code to disable the "Suivant" button when there are no more pages to show -->
            <button
              class="page-link"
              [disabled]="currentPage >= totalPages - 1"
              (click)="goToNextSet()"
            >
              Suivant
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
