<div class="card-header d-flex align-items-center">
  <h5 class="card-title">La liste des départements</h5>
  <ul class="chart-list-out student-ellips">
    <li class="star-menus">
      <a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
    </li>
  </ul>
</div>
<div class="card-body">
  <div class="activity-groups">
    <div class="activity-awards">
      <div class="award-boxs">
        <img
          width="25"
          height="25"
          src="/assets/img/icons/info.png"
          alt="Award"
        />
      </div>
      <div class="award-list-outs">
        <h4>Département Mathématique & Informatique</h4>
        <h5>2 filières</h5>
      </div>
    </div>

    <div class="activity-awards">
      <div class="award-boxs">
        <img
          src="/assets/img/icons/electrique.png"
          width="25"
          height="25"
          alt="Award"
        />
      </div>
      <div class="award-list-outs">
        <h4>Département éléctrique</h4>
        <h5>4 filières</h5>
      </div>
    </div>
    <div class="activity-awards">
      <div class="award-boxs">
        <img
          src="/assets/img/icons/mecanic.png"
          width="25"
          height="25"
          alt="Award"
        />
      </div>
      <div class="award-list-outs">
        <h4>Département Mécanique</h4>
        <h5>2 filière</h5>
      </div>
    </div>
    <div class="activity-awards mb-0">
      <div class="award-boxs">
        <img
          width="25"
          height="25"
          src="/assets/img/icons/economie.png"
          alt="Award"
        />
      </div>
      <div class="award-list-outs">
        <h4>Département écinimique et Gestion</h4>
        <h5>2 filière</h5>
      </div>
    </div>
  </div>
</div>
