<div class="card-header d-flex align-items-center">
  <h5 class="card-title">Statut des Tâches et Activités</h5>
</div>
<div class="card-body">
  <div class="activity-groups">
    <div class="activity-awards">
      <div class="award-boxs">
        <img
          width="25"
          height="25"
          src="/assets/img/icons/notDone.png"
          alt="Award"
        />
      </div>
      <div class="award-list-outs">
        <h4>Importation des données</h4>
      </div>
    </div>

    <div class="activity-awards">
      <div class="award-boxs">
        <img
          src="/assets/img/icons/done.png"
          width="25"
          height="25"
          alt="Award"
        />
      </div>
      <div class="award-list-outs">
        <h4>Géneration des emplois du temps</h4>
      </div>
    </div>
  </div>
</div>
