<div class="header">
  <div class="header-left">
    <a routerLink="/home">
      <img src="/assets/img/logo.png" width="70%" alt="Logo" />
    </a>
  </div>
  <div class="menu-toggle">
    <a href="javascript:void(0);" id="toggle_btn">
      <i class="fas fa-bars"></i>
    </a>
  </div>

  <div class="top-nav-search">
    <form>
      <input type="text" class="form-control" placeholder="Recherche ..." />
      <button class="btn" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
  <a class="mobile_btn" id="mobile_btn">
    <i class="fas fa-bars"></i>
  </a>

  <ul class="nav user-menu">
    <li class="nav-item dropdown noti-dropdown me-2">
      <a
        href="#"
        class="dropdown-toggle nav-link header-nav-list"
        data-bs-toggle="dropdown"
      >
        <img src="/assets/img/icons/notif.png" alt="" width="25" height="25" />
      </a>
      <div class="dropdown-menu notifications">
        <div class="topnav-dropdown-header">
          <span class="notification-title">Notifications</span>
          <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
        </div>
        <div class="noti-content">
          <ul class="notification-list">
            <li class="notification-message">
              <a href="#">
                <div class="media d-flex">
                  <span class="avatar avatar-sm flex-shrink-0">
                    <img
                      class="avatar-img rounded-circle"
                      alt="User Image"
                      src="/assets/img/profiles/avatar-02.jpg"
                    />
                  </span>
                  <div class="media-body flex-grow-1">
                    <p class="noti-details">
                      <span class="noti-title">Carlson Tech</span> has approved
                      <span class="noti-title">your estimate</span>
                    </p>
                    <p class="noti-time">
                      <span class="notification-time">4 mins ago</span>
                    </p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="topnav-dropdown-footer">
          <a href="#">Voir toutes les notifications</a>
        </div>
      </div>
    </li>

    <li class="nav-item dropdown has-arrow new-user-menus">
      <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
        <span class="user-img">
          <img
            class="rounded-circle"
            src="/assets/img/profs/1.png"
            width="31"
            alt="{{ username }}"
          />
          <div class="user-text">
            <h6>{{ username }}</h6>
            <p class="text-muted mb-0">{{ role }}</p>
          </div>
        </span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="handleLogout()"
          >Logout <i class="fas fa-sign-out-alt m-2"></i
        ></a>
      </div>
    </li>
  </ul>
</div>
