<app-page-header
  [link]="'filieres'"
  [prev]="'filières'"
  [current]="'Ajouter une Filière'"
></app-page-header>

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form [formGroup]="newFiliereFormGroup">
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Informations sur la Filière<span
              ><a href="javascript:;"
              ><i class="feather-more-vertical"></i></a
              ></span>
              </h5>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>libellé <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="libellé ...."
                  formControlName="libelle"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>nombre de semestres <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="number"
                  placeholder="nombre de semestres...."
                  formControlName="nombreSem"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>filière<span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="libellé ...."
                  formControlName="chefFiliere"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>département<span class="login-danger">*</span></label>
                <select class="form-control" formControlName="departement">
                  <option *ngFor="let dep of departements" [value]="dep.libelle">{{ dep.libelle }}</option>
                </select>
              </div>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Confirmer</button>
              </div>
            </div>
            <hr class="mt-4" />
            <div class="col-12 col-sm-12">
              <div class="form-group students-up-files">
                <label>
                  Vous pouvez également charger une liste de filières (xlsx, csv, txt)
                </label>
                <div class="uplod">
                  <label class="file-upload image-upbtn mb-0">
                    Choisir un Fichier <input type="file" />
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
