<div class="card flex-fill student-space comman-shadow">
  <div class="card-header d-flex align-items-center">
    <h5 class="card-title">La liste des professeurs</h5>
    <ul class="chart-list-out student-ellips">
      <li class="star-menus">
        <a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table star-student table-hover table-center table-borderless table-striped"
      >
        <thead class="thead-light">
          <tr>
            <th>CIN</th>
            <th>Nom et Prénom</th>
            <th class="text-center">Spécialité</th>
            <th class="text-center">login</th>
            <th class="text-center">Téléphone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-nowrap">
              <div>PRE2209</div>
            </td>
            <td class="text-nowrap">
              <a href="profile.html">
                <img
                  class="rounded-circle"
                  src="/assets/img/profs/1.png"
                  width="25"
                  alt="prof"
                />
                Berrada allam
              </a>
            </td>
            <td class="text-center">Tec</td>
            <td class="text-center">berrada@gmaail.com</td>
            <td class="text-end">
              <div>068991827</div>
            </td>
          </tr>
          <tr>
            <td class="text-nowrap">
              <div>PRE2209</div>
            </td>
            <td class="text-nowrap">
              <a href="profile.html">
                <img
                  class="rounded-circle"
                  src="/assets/img/profs/1.png"
                  width="25"
                  alt="prof"
                />
                Berrada allam
              </a>
            </td>
            <td class="text-center">Tec</td>
            <td class="text-center">berrada@gmaail.com</td>
            <td class="text-end">
              <div>068991827</div>
            </td>
          </tr>
          <tr>
            <td class="text-nowrap">
              <div>PRE2209</div>
            </td>
            <td class="text-nowrap">
              <a href="profile.html">
                <img
                  class="rounded-circle"
                  src="/assets/img/profs/1.png"
                  width="25"
                  alt="prof"
                />
                Berrada allam
              </a>
            </td>
            <td class="text-center">Tec</td>
            <td class="text-center">berrada@gmaail.com</td>
            <td class="text-end">
              <div>068991827</div>
            </td>
          </tr>
          <tr>
            <td class="text-nowrap">
              <div>PRE2209</div>
            </td>
            <td class="text-nowrap">
              <a href="profile.html">
                <img
                  class="rounded-circle"
                  src="/assets/img/profs/1.png"
                  width="25"
                  alt="prof"
                />
                Berrada allam
              </a>
            </td>
            <td class="text-center">Tec</td>
            <td class="text-center">berrada@gmaail.com</td>
            <td class="text-end">
              <div>068991827</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
