<app-page-header
  [link]="'filieres'"
  [prev]="'filières'"
  [current]="'Ajouter une filiere '"
></app-page-header>

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form [formGroup]="editFiliereFormGroup" (submit)="handleUpdateFiliere()">
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Informations sur le Département<span
              ><a href="javascript:"
              ><i class="feather-more-vertical"></i></a
              ></span>
              </h5>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Libellé <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="libelle"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Semestre <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="nombreSem"
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label
                >Chef du Filiére<span class="login-danger">*</span></label
                >
                <input
                  class="form-control"
                  type="text"
                  formControlName="chefFiliere"
                />
              </div>

              <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                  <label
                  >Département<span class="login-danger">*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    formControlName="departement"
                  />
                </div>
              </div>
            </div>
            <div
              class="col-12 d-flex align-items-center justify-content-center"
            >
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Confirmer</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
