<div class="card flex-fill student-space comman-shadow">
  <div class="card-header d-flex align-items-center">
    <h5 class="card-title">Raccourcis de Tâches</h5>
    <ul class="chart-list-out student-ellips">
      <li class="star-menus">
        <a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <section>
      <!--generete emplois du temps-->
      <!--Import data-->
      <!--export emplois du temps en PDF-->
      <!--vider la base de données-->
      <div class="container justify-content-between">
        <button type="button" class="btn btn-primary btn-square-md">
          <i class="fas fa-file-import"></i><br />
          Importer les données à partir d'un fichier Excel
        </button>
        <button type="button" class="btn btn-primary btn-square-md">
          <i class="fas fa-random"></i><br />
          Générer les emplois du temps
        </button>
        <button type="button" class="btn btn-primary btn-square-md">
          <i class="fas fa-file-export"></i><br />
          Exporter les emplois du temps en PDF
        </button>
      </div>
    </section>
  </div>
</div>
