<div *ngIf="admin">
  <app-page-header
    [link]="'emploitemps'"
    [prev]="'Emploi du temps'"
    [current]="'Home'"
  ></app-page-header>
</div>
<meta charset="utf-8" />
<div class="card report-card">
  <div class="card-body pb-0">
    <div class="form-row row align-items-center">
      <div *ngIf="!prof" class="col">
        <div class="form-group">
          <label for="department-select">
            <i class="fa fa-building"></i> Départements
          </label>
          <select
            id="department-select"
            title="Select a department"
            (change)="handleDepartmentChange($event.target)"
            class="form-select custom-select"
          >
            <option selected disabled>Sélectionner...</option>
            <option
              *ngFor="let department of departements"
              value="{{ department.id }}"
            >
              {{ department.libelle }}
            </option>
          </select>
        </div>
      </div>
      <div *ngIf="!prof" class="col">
        <div class="form-group">
          <label for="field-select">
            <i class="fa fa-clipboard"></i> Filiéres
          </label>
          <select
            id="field-select"
            title="Select a field"
            (change)="handleFiliereChange($event.target)"
            class="form-select custom-select"
          >
            <option selected disabled>Sélectionner...</option>
            <option *ngFor="let filiere of filieres" value="{{ filiere.id }}">
              {{ filiere.libelle }}
            </option>
          </select>
        </div>
      </div>

      <div *ngIf="!prof" class="col">
        <div class="form-group">
          <label for="semester-select">
            <i class="fa fa-calendar"></i> Semestre
          </label>
          <select
            id="semester-select"
            title="Select a semester"
            (change)="handleSemsterChange($event.target)"
            class="form-select custom-select"
          >
            <option selected disabled>Sélectionner...</option>
            <option *ngFor="let s of semsters" value="{{ s.id }}">
              {{ s.num }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-auto text-end float-end ms-auto download-grp pb-2">
        <a
          [ngClass]="{ disabled: !ready }"
          (click)="handleDownloadEmploi()"
          *ngIf="!spinnerExport"
          class="btn btn-outline-primary me-2"
          ><i class="fas fa-download"></i> Télécharger
        </a>
        <div
          *ngIf="spinnerExport"
          class="spinner-border text-primary"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="schedule-table">
            <table *ngIf="ready" class="table bg-white">
              <thead>
                <tr>
                  <th>Jours</th>
                  <th>8h30-10h30</th>
                  <th>10h30-12h30</th>
                  <th>14h-16h</th>
                  <th class="last">16h-18h</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="day">Lundi</td>
                  <td class="active">
                    <h4>Architecture distribuée J2EE</h4>
                    <p>Salle : Amphi 2</p>
                    <span>Mohammed EL Youssfi</span>
                  </td>
                  <td class="active">
                    <h4>Middlewares</h4>
                    <p>Salle : Amphi 2</p>
                    <span>Mohammed EL Youssfi</span>
                  </td>
                  <td class="active">
                    <h4>Fondements du Big data</h4>
                    <p>Salle : Info 1</p>
                    <span>Abdelmajid Bousselham</span>
                  </td>
                  <td class="active">
                    <h4>Mise en œuvre des Architectures orientées stockage</h4>
                    <p>Salle : Info 1</p>
                    <span>Abdelmajid Bousselham</span>
                  </td>
                </tr>
                <tr>
                  <td class="day">Mardi</td>
                  <td class="active">
                    <h4>Initiation à l’entreprenariat</h4>
                    <p>Salle : Amphi 2</p>
                    <span>Naoual Zaki</span>
                  </td>
                  <td class="active">
                    <h4>Statistiques en grande dimension et apprentissage</h4>
                    <p>Salle : Amphi 2</p>
                    <span>Zakaria ENNAIMANI</span>
                  </td>
                  <td class="active">
                    <h4>Internet des objets</h4>
                    <p>Salle : Info 1</p>
                    <span>Ahmed REBBANI</span>
                  </td>
                  <td class="active">
                    <h4>Droit de l’entreprise et des TIC</h4>
                    <p>Salle : Amphi 2</p>
                    <span>Abderrahim NASSEF</span>
                  </td>
                </tr>
                <tr>
                  <td class="day">Mercredi</td>
                  <td class="active">
                    <h4>Base de l'Intelligence Artificielle</h4>
                    <p>Salle : Amphi 2</p>
                    <span>Mohammed MESTARI</span>
                  </td>
                  <td class="active">
                    <h4>Optimisation statistique</h4>
                    <p>Salle : Amphi 2</p>
                    <span>Mohammed MESTARI</span>
                  </td>
                  <td class="active" colspan="2">
                    <h4>Projet Personnel 2</h4>
                  </td>
                </tr>
                <tr>
                  <td class="day">Jeudi</td>
                  <td class="active">
                    <h4>Anglais 4</h4>
                    <span>Abderrahim CHALFAOUAT</span>
                    <p>Salle : Amphi 2</p>
                  </td>
                  <td class="active">
                    <h4>Ethique et responsabilité sociétale des entreprises</h4>
                    <p>Salle : Amphi 2</p>
                    <span>Maha SOULAMI</span>
                  </td>
                  <td></td>
                  <td class="active">
                    <h4>Développement Mobile</h4>
                    <p>Salle : Amphi 2</p>
                    <span>Bouchra BOUIHI</span>
                  </td>
                </tr>
                <tr>
                  <td class="day">Vendredi</td>
                  <td></td>
                  <td class="active">
                    <h4>Systèmes Multi-Agents</h4>
                    <p>Salle : Amphi 2</p>
                    <span>Abdelmajid Bousselham</span>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="day">Samedi</td>
                  <td class="active" colspan="2">
                    <h4>Contrôles et rattrapages</h4>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <div
              *ngIf="!ready"
              class="text-center text-primary m-5"
              role="status"
            >
              <span> Merci de choisir une filière et une année </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
